body {
	text-align: center;

}

#C {
	width:95%;
	height:60px;
	border:2px solid grey;
	border-radius:10px;
	padding-left:20px;
	font-size:20px;
}

#D {
	height:90px;
	width:95%;
	border:2px solid grey;
	margin-top:40px;
	border-radius:5%;
	padding:0px 0 20px 20px; 
	font-size:20px;
	
}

#A {
	margin-top:40px;
	margin-bottom:60px;
}

#E {
	margin-top:40px;
	height:60px;
	width:150px;
	border:0px solid white;
	border-radius: 10%;
	background-color: blue;
	color:white;
	font-size:30px;

}

#E:hover {
	background-color:darkblue;
	cursor: pointer;
}

#G{
	font-size:30px;
	width:80%;
	height:90px;
	border:1px solid grey;
}